/*Html_24_1*/
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}
/*Html_24_2*/
h1 {
	text-align: center;
}
h2 {
	text-align: center;
	color: blue;
}
h3 {
	text-align: center;
	font-size: 16px;
	color: red;
}
/*Html_24_3*/
h1 {
	text-align: center;
	color: red;
}
h2 {
	text-align: center;
	color: red;
}
h3 {
	text-align: center;
	font-size: 16px;
	color: red;
}