/*Html_44_1
#block h1, #block h2, #block h3 {
    text-align: center;
}
#block h2 {
    color: blue;
}
#block h3 {
	font-size: 16px;
	color: red;
}
/*Html_44_2
#block h1, #block h2 {
    text-align: center;
}
h1.eee {
    font-size: 30px;
}
h2.zzz {
    font-size: 20px;
}
/*Html_44_3*/
#eee h2, .xxx .kkk, .eee h2.zzz{
	text-align: center;
}
/*Html_44_4
.xxx, .eee h2.zzz {
	text-align: center;
}
