/*Html_59_1
a.zzz {
	color: red;
}
a.zzz:hover {
	text-decoration: none;
}
/*Html_59_2
#block a.zzz {
	color: red;
}
#block a.zzz:hover {
	text-decoration: none;
}
/*Html_59_3*/
.block a.zzz {
	color: red;
}
.block a.zzz:hover {
	text-decoration: none;
}