/*Html_70_1
#elem {
	border: 1px solid red;
	width: 400px;
	height: 300px;
}
/*Html_70_2
#elem {
	border: 2px dotted blueviolet;
	width: 400px;
	height: 300px;
}
/*Html_70_3
#elem {
	border: 3px dashed green;
	width: 400px;
	height: 300px;
}
/*Html_70_4*/
#elem {
	border: 6px double orange;
	width: 400px;
	height: 300px;
}